* {
	margin: 0px;
	padding: 0px;
}

html {
	scroll-behavior: smooth;
}

.container {
	display: flex;
	margin: 20px auto;
	background: #c4c4c4;
	height: 683px;
	width: 871px;
	box-shadow: 0 0 15px rgba(205, 81, 81, 1);
}

.z1 {
	align-content: flex-start;
	flex-direction: row-reverse;
}

.z2 {
	align-items: flex-end;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.z3 {
	align-items: center;
	justify-content: center;
}

.z4 {
	flex-direction: column-reverse;
	justify-content: space-between;
}

.z5 {
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-between;
}

.z6 {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.z7 {
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.block1 {
	margin: 10px 10px 10px 10px;
	width: 200px;
	height: 200px;
}

.block {
	margin: 10px 10px 10px 10px;
	width: 200px;
	height: 200px;
}

.a1 {
	background: #5f9a43;
}

.a2 {
	background: #ab7a7a;
}

.a3 {
	background: #323232;
}

.b1 {
	background: #5f9a43;
}

.b2 {
	background: #ab7a7a;
}

.b3 {
	background: #323232;
}

.c1 {
	background: #5f9a43;
}

.c2 {
	background: #ab7a7a;
}

.c3 {
	background: #323232;
}

.d1 {
	background: #5f9a43;
}

.d2 {
	background: #ab7a7a;
}

.d3 {
	background: #323232;
}

.e1 {
	background: #5f9a43;
}

.e2 {
	background: #ab7a7a;
}

.e3 {
	background: #323232;
}

.f1 {
	background: #5f9a43;
}

.f2 {
	background: #ab7a7a;
}

.f3 {
	background: #323232;
}

.g1 {
	align-self: flex-start;
	background: #5f9a43;
}

.g2 {
	align-self: center;
	background: #ab7a7a;
}

.g3 {
	align-self: flex-end;
	background: #323232;
}
