@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");

html {
	scroll-behavior: smooth;
}
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "Open Sans", sans-serif;
}
header {
	margin: 0px auto;
	height: 100vh;
	background-image: url(../images/fon.jpg);
}
.top-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #000;
	height: 100px;
}
.title {
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
	letter-spacing: 2px;.
}
.log1 {
	width: 104px;
}
.log2 {
	text-size-adjust: 18px;
	color: #fff;
	width: 500px;
	text-align: center;
}
.log3 {
	align-self: center;
	width: 45px;
	height: 30px;
	margin: 15px;
}
.text {
	display: flex;
	justify-content: center;
	line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: 2px;
	list-style: none;
}
.button {
	display: flex;
	margin: 70px auto;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	text-decoration: none;
	color: #000;
	background: rgba(40, 61, 42, 0);
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 18px;
	font-style: normal;
	letter-spacing: 2px;
	border: solid 3px #fff;
	transition: 0.5s;
	transform: scale(1);
}
.button:hover {
	background: rgba(40, 61, 42, 1);
	transform: scale(1.2);
	color: rgb(250, 250, 4);
	translate: scale(1.5);
	box-shadow: 0 0 20px rgb(42, 187, 91);
}
.scroll00 {
	margin-top: 120px;
	display: flex;
	justify-content: center;
}
.scroll1 {
	height: 16px;
	width: 16px;
}
.scroll0 {
	color: #000;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-style: medium;
	line-height: 18px;
	font-weight: bold;
}

main {
	background: #e9e9e9;
	overflow: hidden;
	width: 100%;
}
.h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: bold;
	margin: 100px auto;
}
.catalog {
	display: flex;
	justify-content: center;
	max-width: 1300px;
	margin: 0 auto;
}
.catalog-item {
	max-width: 370px;
	position: relative;
	margin: auto 20px;
}
.h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	letter-spacing: 0.1em;
	margin: 20px;
}
.h3 {
	margin: 0px auto 120px auto;
	display: flex;
	align-self: center;
	text-align: center;
	flex-direction: column;
	text-transform: uppercase;
	max-width: 250px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.1em;
	font-weight: lighter;
}
.catalog-item-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 44px auto;
	width: 200px;
	height: 50px;
	text-decoration: none;
	color: #000;
	background: rgb(54, 136, 63);
	border-radius: 15px;
	text-transform: uppercase;
	font-size: 18px;
	font-style: italic;
	letter-spacing: 2px;
	height: 48px;
	border: solid 3px #fff;
	transition: 0.5s;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}
.catalog-item-button:hover {
	background: rgb(100, 48, 168);
	color: rgb(250, 250, 4);
	height: 53px;
	transform: translateX(-50%) scale(1.1);
}
.catalog-item-button img {
	height: 300px;
	width: 100%;
	object-fit: cover;
}
