html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
}
header {
	height: 100vh;
	margin: 0 auto;
	background: #000 url(../images/fon.jpg);
}
.grid-container-1 {
	display: grid;
	background: #000;
	color: #000;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 100px 1fr 1fr;
	min-height: 100px;
	align-items: center;
}
.item-img-1 {
	height: 50px;
	width: 50px;
}
.item-h-1 {
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 1px;
	color: rgb(33, 172, 190);
}
.item-img-2 {
	height: 40px;
	width: 40px;
	margin-right: 15px;
}
.grid-container-2 {
	display: grid;
	text-align: center;
	grid-template-columns: 5% 1fr 5%;
	grid-template-rows: 1fr 1fr 1.6fr 0.02fr;
}
.item-h-2 {
	margin: 60px auto 15px auto;
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 2px;
	grid-area: 1/2/2/3;
}
.item-h-3 {
	grid-area: 2/2/3/2;
}
.item-button-1 {
	display: flex;
	border-radius: 15px;
	text-align: center;
	font-size: 18px;
	color: rgb(237, 240, 92);
	width: 200px;
	height: 50px;
	justify-self: center;
	grid-area: 3/2/4/3;
	border: 2px solid #000;
	text-decoration: none;
	background: rgb(21, 75, 26);
	transform: scale(1);
	transition: 0.3s;
}
.item-button-1:hover {
	transform: scale(1.3);
	background: url(../images/hqdefault.jpg);
	color: rgba(240, 248, 255, 0);
	box-shadow: 0 0 20px rgb(27, 43, 134);
}
.item-button-1-text {
	margin: auto;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	transition: 1.5s;
}
.item-button-1-text:hover {
	color: brown;
}
.item-container-2 {
	grid-area: 4/2/5/3;
}
.item-container-2-img {
	margin-top: 10%;
	height: 25px;
	width: 25px;
}
.item-container-2-text {
	margin-top: 10%;
	margin: 5px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Times New Roman", Times, serif;
}
main {
	min-height: 100vh;
	margin: 0 auto;
	background: rgba(45, 187, 163, 0.596);
}
.grid-container-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 2fr;
}
.item-container-3-tittle {
	grid-area: 1/2/2/3;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 50px;
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 1px;
	font-style: italic;
	text-align: center;
}
.item-container-3-img {
	display: flex-inline;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 800;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	text-transform: uppercase;
	font-size: 25px;
	position: relative;
	margin-bottom: 150px;
}
.a {
	grid-area: 2/1/3/2;
}
.b {
	grid-area: 2/2/3/3;
}
.c {
	grid-area: 2/3/3/4;
}
.item-container-3-text {
	font-weight: 800;
	font-style: italic;
	text-transform: none;
	font-size: 20px;
}
.item-container-3-sub-tittle {
	margin-top: 20px;
}
.catalog-item-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	text-decoration: none;
	color: #000;
	background: rgb(54, 136, 63);
	border-radius: 15px;
	text-transform: uppercase;
	font-size: 18px;
	font-style: italic;
	letter-spacing: 2px;
	height: 48px;
	border: solid 3px #fff;
	transition: 0.5s;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: -80px;
}
.catalog-item-button:hover {
	background: rgb(100, 48, 168);
	color: rgb(250, 250, 4);
	height: 53px;
	transform: translateX(-50%) scale(1.1);
}
