html{

scroll-behavior: smooth;

}



.container{
	overflow: hidden;
	position: relative;
	transition: 0.5s;
	margin-top: 316px;
	margin-left: 220px;
	padding: 1px;
	box-shadow: 0 0 50px rgba(9, 178, 26, 0.3);
	background: #C4C4C4;
	width: 1000px;
	height: 600px;



}


	



.block{
	transition: 0.8s;
	position: absolute;
	height: 200px;
	width: 200px;

}

.a1{
	background: #E98F8F;
	margin-top: -200px;
	margin-left: -200px;
}



.a2{
	background: #97E98F;
	margin-top: -200px;
	right: -200px;

}

.a3{
	background: #CC8FE9;
	bottom: -200px;
	margin-left: -200px;

}

.a4{

	background: #E7EA5C;
	bottom: -200px;
	right: -200px;


}



.blockText{
	position: absolute;
	background:  #C4C4C4;
	height: 250px;
	width: 250px;
	text-align: center;
	margin-left: 375px;
	margin-top: 300px;
}

.container:hover {

	color:  #C4C4C4;

}

.container:hover .a1{

	margin-top: 1px;
	margin-left: 1px;


}

.container:hover .a2{

	margin-top: 1px;
	right: 1px;


}

.container:hover .a3{

	bottom: 1px;
	margin-left: 1px;


}
.container:hover .a4{

	bottom: 1px;
	right: 1px;


}


