html{
	scroll-behavior: smooth;
}

*{	
	margin: 0px;
	padding: 0px;

}

.container1{

	overflow: hidden;
	margin: 20px auto;
	background:rgba(196, 196, 196, 1) ;
	width: 1140px;
	min-height: 530px;

}

.block{
	height: 200px;
	width: 200px;
	margin-top:45px ;
	margin-left:29px ;
	float: left;
}

.red{

	background: #ED8B8B;

}

.yellow{

	background: #D1D36D;
}

.a{

	background: #46A8C7;
}

.b{

	background: #46C76A;
}


.c{

	background: #5F46C7;
}

.d{

	background: #C74655;
}
.clearFix{

	clear: both;
}

.container2{

	overflow: hidden;
	margin: 20px auto;
	background:rgba(196, 196, 196, 1) ;
	width: 1140px;
	min-height: 255px;

}

.a2{

	background: #ED8B8B;

}

.b2{

	background: #D1D36D;

}

.container3 {
	text-align: center;
	overflow: hidden;
	margin: 20px auto;
	background:rgba(196, 196, 196, 1) ;
	width: 1112px;
	min-height: 269px;
	float: none;

}

.a3{ 
	background: #5CCC6E;
	margin-left:235px;


}

.b3{

	background: #46BFC7;

}

.c3{

	background: #CA987C;

}

.container4{
	
	overflow: hidden;
	margin: 20px auto;
	background:rgba(196, 196, 196, 1) ;
	width: 1112px;
	min-height: 269px;

}

.a4{

	background: #5CCC6E;

}

.b4{

	background: #46BFC7;

}

.c4{

	background: #CA987C;

}

.container5{

	overflow: hidden;
	margin: 20px auto;
	background:rgba(196, 196, 196, 1) ;
	width: 1112px;
	min-height: 269px;

}

.a5{

	margin-right: 29px;
	float: right;
	background: #5CCC6E;

}

.b5{

	float: right;
	background: #46BFC7;

}

.c5{

	float: right;
	background: #CA987C;

}

.container6{

	overflow: hidden;
	margin: 20px auto;
	background:rgba(196, 196, 196, 1) ;
	width: 1112px;
	min-height: 270px;

}

.a6{

	float: left;
	background: #5CCC6E;

}

.b6{

	float: right;
	background: #46BFC7;
	margin-right: 29px;

}

.container7{

	overflow: hidden;
	margin: 20px auto;
	background:rgba(196, 196, 196, 1) ;
	width: 1112px;
	min-height: 264px;
}

.a7{

	margin-left: 228px;
	background: #5CCC6E;

}

.b7{

	margin-left: 284px;
	margin-right: 200px;
	background: #46BFC7;

}

.container8{

	overflow: hidden;
	margin: 20px auto;
	background:rgba(196, 196, 196, 1) ;
	width: 1112px;
	min-height: 269px;

}

.a8{

	background: #5CCC6E;
}

.b8{

	margin-left: 200px;
	background: #46BFC7;

}




